<link rel="stylesheet" href="/public/styles/styleGeral.css">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/menu.css' rel='stylesheet'>

<div id="icon-menu-general" class="gg-menu"></div>
<div id="_menuGeneral">
    <ul>
        <div>Dashboard</div>
        <div>Login</div>
        <div>Cadastre-se</div>
        <div> <a href="/productor">Produtor</a></div>
    </ul>
</div>

<script src="/public/scripts/responsive_menu.js"></script>