<link rel="stylesheet" href="/public/styles/styleGeral.css">

<div id="_menuGeneral">
    <ul>
        <li>Dashboard</li>
        <li>Login</li>
        <li>Cadastre-se</li>
        <li>Produtor</li>
    </ul>
</div>