<link rel="stylesheet" href="/public/styles/styleGeral.css">

<div id="home">
    <div id="left-content">
        <div id="region-left">
          <a href="/shopF">MODA FEMININA</a>
        </div>
    </div>

    <div id="right-content">
        <div id="region-right">
           <a href="/shopM">MODA MASCULINA</a>
        </div>
    </div>

    <div id="central-content">
        <img src="/public/mídias/moda_feminina.jpg" id="background-central">
        <div id="border-central-content-left"></div>
        <div id="border-central-content-right"></div>
    </div>
    <img src="/public/mídias/PLÍNIO MODAS.png" id="logo">
</div>

<script src="/public/scripts/homescript.js"></script>