<link rel="stylesheet" href="/public/styles/lojafem.css">
<link rel="stylesheet" href="/public/styles/myshop01.css">

<div id="geral">
    <div id="nav-bar"></div>
    {{>_myshop01}}
</div>

<script src="/public/scripts/myshop01.js"></script>