<link rel="stylesheet" href="/public/styles/lojafem.css">
<link rel="stylesheet" href="/public/styles/myshop01.css">

<div id="geral">
    <div id="nav-bar">
        <div id="conteiner-logo-menu">
            <a href="/">
                <img src="/public/mídias/logo-nav-menu.png" id="logo-menu">
            </a>
        </div>
        {{>_menuGeneral}}
        <img src="/public/mídias/icons/shopping-cart.png" id="icon-carrinho">
        <div id="countShop">0</div>
    </div>
    {{>_myshop01}}
</div>

<script src="/public/scripts/myshop01.js"></script>