<link rel="stylesheet" href="/public/styles/lojaMasc.css">
<link rel="stylesheet" href="/public/styles/myshop02.css">

<div id="geral">
    <div id="nav-bar"></div>
    {{>_myshop01}}
</div>

<script src="/public/scripts/myshop02.js"></script>