<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/productor_styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Página do Produtor</title>
</head>

<body>
    <div id="display-productor">
        {{!-- Cadastro do Produtor --}}
        <div id="productor-section-01">
            <img src="/public/mídias/cover_productor_01.png" alt="" id="cover_productor_01">
            <h3>Deseja Vender Roupas?</h3>
            <button id="button-register-productor">Cadastro do Produtor</button>
            <div id="productor-content">
                <p>
                    Se você é um(a) produtor(a) de roupas e deseja vender seus produtos em nossa plataforma, o processo
                    é simples e fácil! Tudo o que você precisa fazer é criar uma conta gratuita em nossa plataforma e
                    começar a criar seus posts de venda.

                    Para criar uma conta, basta clicar no botão acima "Cadastro do Produtor" e preencher as
                    informações solicitadas, como nome, e-mail e senha. Depois de criar sua conta, você poderá acessar
                    seu painel de controle e começar a criar seus posts de venda.

                    Para criar um post de venda, basta clicar no botão "Criar Post" e preencher as informações sobre o
                    produto que você deseja vender, incluindo fotos, descrição, tamanho e preço. Certifique-se de
                    incluir todas as informações relevantes para que seus clientes possam fazer uma compra informada.

                    Uma vez que seu post esteja criado, ele será exibido em nossa plataforma para todos os usuários
                    visualizarem e comprarem. Você pode criar quantos posts de venda desejar e atualizá-los sempre que
                    necessário.

                    Lembre-se de que estamos aqui para ajudá-lo(a) a maximizar suas vendas e alcançar seus objetivos de
                    negócios. Se você tiver alguma dúvida ou precisar de assistência, nossa equipe de suporte estará
                    sempre disponível para ajudá-lo(a). Então, não espere mais e comece a vender suas roupas em nossa
                    plataforma hoje mesmo!
                </p>
            </div>
        </div>
        <div id="productor-section-02">
            <div id="border-section-02"></div>
        </div>
        {{!-- LOGIN DO PRODUTOR --}}
        <form id="form-login-profuctor" method="POST" action="/productor/login">
            <input type="text" id="login-name" name="login-name" placeholder="nome/email">
            <input type="password" id="login-password" name="login-password" placeholder="senha">
            <button id="send-login-button">entrar</button>
        </form>

        {{!-- Tela de Cadastro de Produtor --}}
        <div id="productor-register-display">
            <div id="cover-img-register">
                <img src="/public/medias/pexels-tembela-bohle-1884584.png" alt="">
            </div>
            <header id="register-section-01">
                <div id="shop-avatar">
                    <input type="file" id="shop-image-avatar" name="imagem">
                </div>
                <div id="content-shop">
                    <p>
                        Bem-vindo(a) à nossa plataforma de vendas de roupas! Aqui, você pode adicionar suas peças com
                        facilidade e rapidez, sem complicações. Com apenas alguns cliques, você pode criar anúncios
                        atraentes e divulgar seus produtos para uma audiência ampla e engajada. Seja você um(a)
                        estilista, lojista ou simplesmente alguém que deseja vender suas roupas, estamos aqui para
                        ajudá-lo(a) a maximizar suas vendas e alcançar seus objetivos. Comece agora mesmo e descubra
                        como é fácil vender suas roupas conosco!
                    </p>
                </div>
            </header>

            <div id="register-section-02">
                <div>
                    <span class="material-symbols-outlined">
                        store
                    </span>
                    <input type="text" id="shop-name" name="shop_name" placeholder="nome da loja" required>
                </div>
                <div>
                    <span class="material-symbols-outlined">
                        description
                    </span>
                    <input type="text" id="shop-description" name="shop_description" placeholder="descrição da loja" required>
                </div>
            </div>

            <div id="register-section-03">
                <span class="material-symbols-outlined">
                    check_circle
                </span>
                <input type="text" id="productor-name" name="productor_name" placeholder="seu nome" required>
                <input type="email" id="productor-email" name="productor_email" placeholder="seu email" required>
                <input type="password" id="productor-password" name="productor_password" placeholder="senha" required>
                <input type="password" id="productor-password-confirm" name="productor_confirm_password" placeholder="confirme sua senha" required>
            </div>
            <span id="productor-message-status">mensagem de status</span>
            <button id="button-productor-send">CRIAR</button>
            <button id="button-productor-back">VOLTAR</button>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/scripts/productor.js"></script>

</html>