#display-productor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(119, 119, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#productor-section-01 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 0;
    width: 65%;
    height: 100vh;
    background: #59A9FF;
    color: white;
    font-family: sans-serif;
    z-index: 1;

    overflow: hidden;
}

#productor-section-01 img {
    position: absolute;
    width: 120%;
    opacity: .35;
    z-index: -1;
}

#productor-content {
    position: relative;
    width: 70%;
    height: auto;
    left: -2vh;
    text-align: center;
    overflow-y: auto;
}

#button-register-productor {
    background: none;
    font-size: 15pt;
    border: 2px solid white;
    color: white;
    padding: 5px;
    cursor: pointer;
}

#button-register-productor:hover {
    letter-spacing: 4px;
    transition: 1s;
}

#productor-section-02 {
    position: absolute;
    right: -28%;
    width: 75%;
    height: 100vh;
    background: #4DFFC1;
    transform: skew(20deg);
    transform-origin: left;
    z-index: 2;
    box-shadow: -10px 0px 10px -5px rgba(19, 19, 19, 0.432);
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#border-section-02 {
    position: relative;
    width: 98%;
    height: 97vh;
    border: 4px solid white;
}

#form-login-profuctor {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 1;
    width: 20vh;
    height: 15vh;
    z-index: 2;
    right: 20%;
}

#form-login-profuctor input {
    text-align: center;
    background: none;
    border: 2px solid white;
    width: 25vh;
    height: 3vh;
}

#form-login-profuctor button {
    background: rgba(255, 255, 255, 0.445);
    border: 2px solid white;
    width: 15vh;
    height: 3vh;
    color: rgb(61, 61, 61);
    cursor: pointer;
    letter-spacing: 4px;
}

#productor-register-display {
    position: absolute;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #FFA08A;
}

#register-section-01 {
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content-shop {
    position: relative;
    border-radius: 10px;
    width: 70%;
    height: 15vh;
    color: rgb(255, 255, 255);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#register-section-02 {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#register-section-02 input {
    min-height: 40px;
    width: 400px;
    background: white;
    border: none;
    text-align: center;
}

#register-section-02 div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8.5vh;
}

#register-section-03 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35vh;
}

#register-section-03 input {
    width: 100%;
    height: 5vh;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#shop-avatar {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    background: #59A9FF;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

#shop-avatar img {
    width: 150%;
}

#button-productor-send {
    position: relative;
    width: 12vh;
    height: 4vh;
    background: #59A9FF;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#button-productor-back{
    position: relative;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    background: none;
}

#cover-img-register {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 45vh;
    background: #59A9FF;
    top: 0;
}

#cover-img-register img {
    position: relative;
    min-height: 45vh;
    width: 100%;
    opacity: .3;
}

.material-symbols-outlined {
    color: rgb(236, 236, 236);
    transform: scale(2);
}


@media (max-width:1200px) {
    #productor-section-01 {
        width: 70%;
    }

    #productor-section-02 {
        right: -24%;
    }
}

@media (max-width:750px) {
    #border-section-02 {
        display: none;
    }
    #productor-section-01 img {
        height: 100vh;
        width: 120%;
    }

    #productor-content {
        height: 70vh;
        left: auto;
        width: 90%;
    }

    #cover-img-register img {
        height: auto;
        width: auto;
        opacity: .5;
    }

    #display-productor {
        flex-direction: column;
        height: 160vh;
    }

    #productor-section-01 {
        width: 100%;
        top: 0;
    }

    #productor-section-02 {
        width: 100%;
        top: 100vh;
        transform: skew(0deg);
        right: auto;
        height: 60vh;
    }

    #form-login-profuctor {
        right: auto;
        top: 120vh;
    }

    #register-section-02 {
        flex-direction: column;
        height: 25vh;
    }

    #register-section-02 div {
        height: 10vh;
    }

    #content-shop {
        display: none;
    }
}